#pitch{
	background-image: url("../images/vector2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 400px;
	margin-top: 0px;
	width: inherit;
	

	
}

#heading{

	color: #9E9D24;
}
.container-fluid .jumbotron{
	border-radius: 0px;


}
.mpesa{

	height: 360px;
}
h2{
	color: #1565C0;

}
.logo{
	height: 50px;
    padding-bottom: 20px;

}
body{
	background-color: #ffffff;
	/*background-image: url("../images/bck.jpg");*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.navbar{
	position: fixed;
	width: 2000px;
  

}
.error{
	color: #B71C1C;

}
#contacts{
	height: 100px;
	display: block;

}
#contacts img{
	height: 200px;

}
#phonenumber{
	height: 230px;


};
.row{
	border-style: double;
	border-color: #Ffffff;

}
#cover1{
background-image: url("../images/prog-languages.png");

}
