.background{
	background-color: #ffcc80;
	width: 1200px;
	height: 600px;
	

}

/*layout view on a phone*/

@media only screen and (max-width: 360px){

	.background{

		background-color: #00bcd4;
		width: 300px;
		height: 100px;
	}

}

/*layout view for a tablet*/
@media only screen and (min-width: 768px) and (max-width: 1024px){
	.background{
		background-color: #9e9e9e;
		width: 600px;
		height: 400px;
		border-radius: 48px;
		border-right-width: 10px;
		border-style: double;
		padding: 15px;


	}


}